*, *:before, *:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
*{
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}	
body{
	font-family: 'Bad Script', cursive;
	font-family: 'Pacifico', cursive;
	margin: 0;
}
a{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;	
}
.main{
	width: 100%;
	margin: 0 auto;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 600px;/*высота блока хедер*/
	background: url('../img/beg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
.logo span{
	font-family: 'Pacifico', cursive;
}
.main-text p{
	margin-top: 50px;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.main-text h1{
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.main-overlay{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
	background: #b3dced; /* Old browsers */
    background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}
.header	{
	padding: 5px;
	font-family: 'Comfortaa', cursive;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	z-index: 2;
	background-color: #392742;/*цвет меню*/
	position: fixed;
}
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 60%;
}
.menu ul li{
	width: calc(20% - 20px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-transform: uppercase;
	

}
.menu ul li a{
	padding: 10px;
	border-radius: 8px;
}

.menu ul li a:hover{
	transform:scale(1.2);
	
	background-color: #de7b5c;/*color of menu punkts hover*/
}
.menu ul{
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	list-style: none; 
	width: 100%;
	padding: 5px;
}
.menu-link{
	text-decoration: none;
	color: #fff;
}
input[type=checkbox] {
display: none;
}
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/
/*меню*/

.main-text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	text-align: center;
	margin-top: 300px;

}
.main-text h1 {
	margin: 0.5rem;
	font-size: 80px;
}
.main-text p{
	font-size: 24px;
}/*
.main-arrow{
	text-decoration: none;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 15vh;
	z-index: 0;
}
.arrow-down{
	z-index: 2;
	height: 50px;
	width: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
	background-color: #000;
}*/

.cont{
	/*border: 1px solid black;*/
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer{
	background-color: #f0f0f0;
	min-height: 1200px;/*высота всего контейнера с фото-работами*/
	
	width: 90%;
	/*border: 1px solid red;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.copy2{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 50px;
	/*border: 1px solid blue;*/
	color: #392742;/*цвет блока мои работы*/
	background: white; 
	font-size: 24pt;
}	
.footer-contain{
	margin: 10px;
	border-radius: 5px;
	
	flex: 1 1 calc(50% - 20px);
	/*border: 1px solid blue;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	opacity: 1;
}
.footer-contain:nth-child(1) {
	margin-right: 0px;
}
.footer-contain:nth-child(3) {
	margin-right: 0px;
	margin-top: 0px;
}
.footer-contain:nth-child(4) {
	margin-top: 0px;
}
.footer-contain:nth-child(5) {
	margin-top: 0px;
	margin-right: 0px;
}
.footer-contain:nth-child(6) {
	margin-top: 0px;
}

.copy{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 10px;
}
	


.norm{
	background-color: #de7b5c;/*цвет заголовков работ*/
	text-decoration: none;
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 5px;
	opacity: 0;
	border-radius: 10px;
}
/*анимация*/
.footer-contain:hover{
	opacity: 0.8;
	transform:scale(1.011);
}
.footer-contain:hover .norm{
 	opacity: 1;
	transform:scale(1.3);
}
/*анимация*/
section{
	background-color: #392742;
	margin: 0 auto;
	width: 100%;
	color: white;

}
.footer2{
	margin: 0 auto;
	width: 100%;
	/*border: 1px solid red;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 100px;
}
.footer2-container{
	/*border: 1px solid green;*/
	width: 33.33%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

}
.footersocialitem a{
	color: white;
}


.aboutme{
	border:1px solid black;
	width: 90%;
	margin: 0 auto;
	padding: 0;		
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: 	center;
		align-items: 	center;		
}
.col{
	height: 100vh;
	border:1px solid grey;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-col{
	width: 60%;
	padding: 100px;

}
.second-col{
	padding: 10px;
	width: 40%;
	background-size: cover;
	background-repeat: repeat;
	min-height: 100px;
	height: 100%;
}
.footer2-container a{
	color: white;
	text-decoration: none;
	background-color: #ffffas;
}
label{
	display: none;
}	
button{
	background-color:black;
	border-radius: 20px;
}
@media screen and (max-width: 1019px){
	.menu ul li a{
		white-space: nowrap;
	}
}	

@media screen and (max-width: 910px){
	.footer-contain{
	flex: 1 1 100%; 
	min-height: 50px;
	margin : 0;
	}
	.card:last-child{
		margin-bottom: 0px;
	}
	.footer2-container{
		width: 100%;
	}
	.menu ul li{
		font-size: 8px;
	}
	.menu ul li a{
		white-space: nowrap;	
}
@media screen and (max-width: 416px){
	.footer-contain{
	flex: 1 1 100%; 
	min-height: 50px;
	margin : 0;
	}
	.card:last-child{
		margin-bottom: 0px;
	}
	.footer2-container{
		width: 100%;
	}
	.menu ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.menu ul li{
		text-align: right;
		padding: 10px;
		font-size: 14px;
		flex-direction: column;
	}
	.menu ul li a{
		text-align: center;
		padding: 0;
	}
	.menu ul li a:hover{
		background-color: #de7b5c;;
		border-radius: 4px;

	}
	.menu {
		display: none;
	}
	input[type=checkbox] {
   		 display: none;
	}
 	label {
 		margin-top: -22px;
 		margin-right: -270px;
 		cursor: pointer;
    	display: flex;
    	-ms-align-items: center;
    	align-items: center;
	    background: #de7b5c;
	    padding: 5px;
	    border: 1px solid rgba(0,0,0,.1);
	    border-radius: 2px;
	    color: white;
	    font-weight: bold;
	}
	input[type=checkbox]:checked ~ .menu {
		display: block;
	}
	input[type=checkbox]:checked ~ .logo {
    	-ms-align-self: start;
    	align-self: start;
	}
	.logo{
		margin-top: 5px;
		margin-right: 180px;
		display: flex;
    	-ms-align-self: center;
    	align-self: center;
    	justify-content: baseline;
	}
	.header{
		flex-direction: column;

	}
}