
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/
/*						адаптация				*/

@media screen and (max-width: 1280px){
	.menu ul li a{
		white-space: nowrap;
	}
	.main{
		height: auto;
	}
	.main-text{
		margin-top: 120px;
	}
	.text{
		width: 90%;
		margin: 0 auto;
	}
	.begin{
		margin-top: 20px;
		margin-bottom: 200px;
	}
	.both{
		width: 90%;
		flex-direction: column-reverse;
		margin-top: 0;
	}
	.myworks h2{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.both p{
		padding-top : 0;
	}
	.info{
		margin: 0 auto;
		flex-direction: column-reverse;
		justify-content: space-around;
	}
	.info-cont{
		width: 100%;
		margin: 0 auto;
	}
	.ibut{
		margin: 0 auto;
	}
	.i1{
		flex-direction: column-reverse;
		justify-content: center;
	}
	.i2{
		margin-top: 7%;
		min-height: 300px;
	}
	.i2 img{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.itext h1{
		text-align:center;
		font-size: 18pt;
	}
	.itext h2{
		text-align:center;
		font-size: 14pt;
		margin-bottom: 10px;
	}
	.itext p{
		font-size: 12pt;
		padding-bottom: 30px;
	}
	.itext p b{
		font-size: 18pt;
		padding-bottom: 30px;
	}
	.meetme{
		margin: 0;
		padding: 0;
	}

}	




@media screen and (max-width: 460px){
	.main-text{
		margin-top: 40vh;
	}
	.main{
		height: auto;
	}
	.main-text p{
		margin-top: 10px;

	}
	.itext h1{
		padding-bottom: 5px;
	}
	.meetme{
		margin-top: 10px;
	}
	.footer-contain{
	flex: 1 1 100%; 
	min-height: 50px;
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	}
	.card:last-child{
		margin-bottom: 0px;
	}
	.footer2-container{
		width: 100%;
	}
	.menu ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.menu ul li{
		text-align: right;
		padding: 10px;
		font-size: 14px;
		flex-direction: column;
	}
	.menu ul li a{
		text-align: center;
		padding: 0;
	}
	.menu ul li a:hover{
		background-color: #de7b5c;;
		border-radius: 4px;

	}
	.menu {
		display: none;
	}
	input[type=checkbox] {
   		 display: none;
	}
 	label {
 		margin-top: -22px;
 		margin-right: 270px;
 		cursor: pointer;
    	display: flex;
    	-ms-align-items: center;
    	align-items: center;
	    background: #de7b5c;
	    padding: 5px;
	    border: 1px solid rgba(0,0,0,.1);
	    border-radius: 2px;
	    color: white;
	    font-weight: bold;
	}
	input[type=checkbox]:checked ~ .menu {
		display: block;
	}
	input[type=checkbox]:checked ~ .logo {
    	-ms-align-self: start;
    	align-self: start;
	}
	.logo{
		margin-top: 5px;
		margin-right: -180px;
		display: flex;
    	-ms-align-self: center;
    	align-self: center;
    	justify-content: baseline;
	}
	.header{
		flex-direction: column;
	}
	.norm{
		opacity: 1;
		padding: 8px;
		font-size: 20px;
	}
	.tmolly p{
		font-size: 8pt;
		text-align: center;
		margin: 3px auto;
		margin-top: -50px;
	}
	.info{
		margin-top: 10px;
	}
	.podmenu ul{
		width: auto;
		position: relative;
		flex-direction: row;
		/*border:1px solid red;*/
		background-color: #392742;
		margin-top: 1px;
		display: block;
		border-radius: 10px;
	}
	.vipad{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		border:1px solid #de7b5c;
		margin: 0 auto;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.menu-link-2{
		display: none;
	}
	.podmenu ul li{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding:0 ;
		margin-bottom: 1px;
	}
	.podmenu ul li a{
		width: auto;
		padding: 0;
		text-decoration: none;
		padding: 1px;
		color: white;
		-ms-align-self: center;
		align-self: center;

	}
	.main-text{
		margin: 0;
	}
	.main-text h1{
		margin-top: 50%;
		font-size: 50px;
	}
	.main-text p{
		font-size: 30px;
		padding-bottom: 50px;
	}
	.begin{
		display: none;
	}
	.menu {
		width: 100%;
		height: 100vh;
	}
	.menu ul li{
		padding-bottom: 10px;
	}
	.menu ul {
		margin-top: 10px;
	}

	.both{
		width: 100%;
	margin: 0 auto;	
	flex-direction: column-reverse;
	}
	.both-item{
		width: 90%;
		margin: 0 auto;
	}
	.copy2 h3{
		font-size: 25px;
	}
	.text p{
		font-size:16px;
		padding: 0;
	}
	.myworks h2{
		margin: 15px;
	}
	.footer2{
		margin-top: 10px;
	}
	.i2{
		margin-top: 15%;
	}
	.i2 img{
		margin: 0 auto;
	}
}